<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RPS game</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <header>
      <h1>Rock Paper Scissors</h1>
    </header>

    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="/how_to_play">How to play</a></li>
      <li><a href="/result">Result</a></li>

    </nav>


    <%= yield %>

  </body>
</html>
