<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>RPS game</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="/about-us">About us</a></li>
      <li><a href="/rock-wins">Rock wins</a></li>
      <li><a href="/paper-wins">Paper Wins</a></li>
      <li><a href="/scissor-wins">Scissors Wins</a></li>
    </nav>


    <%= yield %>
    
  </body>
</html>
